@model IEnumerable<CoinTracker.Models.Coin>

@{
    ViewData["Title"] = "Aaron's Coin Tracker";
}

<h1>Aaron's Coin Tracker</h1>

<form asp-action="Index" method="get">
<div class="form-actions no-color">
    <p>
        Search Pair: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
        <input type="submit" value="Search" class="btn btn-default"/> | <a asp-action="Index">Back to Full List</a>
    </p>
</div>
</form>

@section Scripts{ 

}

<table class="table">
    <thead>
        <tr>
            <th>     
                @Html.DisplayNameFor(model => model.Exchange)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PairSortParam"]">@Html.DisplayNameFor(model => model.Pair)</a>                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPrice)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ChangeSortParam"]">@Html.DisplayNameFor(model => model.PriceChange)</a>                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VolumeSortParam"]">@Html.DisplayNameFor(model => model.Volume)</a>                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exchange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pair)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
        </tr>
}
    </tbody>
</table>
